{% extends 'base.html' %}

{% block content %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript">

function loaddata()
{
 var name=document.getElementById( "username" );
  
 if(name)
 {
  $.ajax({
  url: 'details/',
  dataType: 'json',
  success: function (response) {
   var obj = JSON.stringify(response);
   var result = JSON.parse(obj);
   console.log(obj);
   console.log(result);
   var i =0;
    $('#display_info').append('<tr><th>' + '  Txn Date' + '</th><th>' + '  Value Date  ' + '</th><th>' + '  Description  ' + '</th><th>' + 'Ref No./Cheque No.'+ '</th><th>' + 'Credit' + '</th><th>' + 'Debit' + '</th><th>' + 'Balance'
);
    $('#display_info').append('<tr><th>' + '__________________' + '</th><th>' + '__________________' + '</th><th>' + '________________________________________________________________________________________' + '</th><th>' + '______________________________' + '</th><th>' + '__________________' + '</th><th>' + '__________________' + '</th><th>' + '__________________' 
);
   $.each(result, function(){
    $('#display_info').append('<tr><td>' + this[0] + '</td><td>' + this[1] + '</td><td>' + this[2] + '</td><td>' + this[3] + '</td><td>' + this[4] + '</td><td>' + this[5] + '</td><td>' + this[6]
);   
    $('#display_info').append('<tr><td>' + ' ' + '</td><td>' + ' ' + '</td><td>' + ' ' + '</td><td>' + ' ' + '</td><td>' + ' ' + '</td><td>' + ' ' + '</td><td>' + ''
);
    i =i +1;
});
   
  }
  });
 }
  
 else
 {
  $( '#display_info' ).html("you are not logged in");
 }
}

</script>
<div class="container">
  <h2>Tabular View</h2>
  <button class="btn btn-primary" type="button" onclick="loaddata();">View Statement</button>
  <input type="hidden" name="username" id="username" onkeyup="loaddata();">
  <br>
  <br>
<div class="container" id = "display_info">

</div>
</div>

{% endblock %}
